@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
        *{
            font-family: 'Lato', sans-serif;
            padding: 0;
            margin: 0;
        }
        main{
            width: 1020px;
            margin: auto;
        }
        header h1{
            font-weight: normal;
            font-size: 25px;
            padding-left: 40px;
            padding-top: 31px;
            float: left;
        }
        header ul{
            font-weight: 700px;
            font-size: 12px;
            padding-right: 39px;
            padding-top: 44px;
            float: right;
            display: flex;
            text-transform: uppercase;
        }
        header span{
            color: #f06c64;
        }
        header li{
            list-style: none;
        }
        header li:first-child{
            color: #f06c64;
        }
        header li:hover{
            color: #f06c64;
            cursor: pointer;
        }
        header li::before{
            margin-right: 13px;
            margin-left: 13px;
            text-transform: uppercase;
            content: "\2219";
            font-weight: 700;
            font-size: 12px;
            color: gray;
        }
        header li:first-child::before{
            content: "";
        }
        header{
            text-transform: uppercase;
            color: white;
            height: 89px;
            background-color: #2d303a;
            border-bottom: 6px solid #323746;
        }
        .container{
            padding-top: 44px;
            display: grid;
            grid-template-rows: 95px 95px;
            grid-template-columns: repeat(3, 300px);
            grid-column-gap: 20px;
            grid-row-gap: 28px;
        }
        .flex{
            position: relative;
            display: flex;
        }
        p{        
            text-align: justify;
        }
        .servises{
            height: 494px;
            background-color: #f2f2f2;
            color: #666d89;
            padding-left: 40px;
            padding-right: 40px;
            line-height: 30px;  
            border-bottom: 6px solid white;
        }
        h3{
            padding-bottom: 9px;        
            line-height: 18px;
        }
        h2{
            padding-top: 65px;
            padding-bottom: 20px;
            font-size: 30px;
            font-weight: bold;
        }
        .servises .flex p{
            line-height: 22px;
            font-size: 12px;
        }
        .servises > p{
            font-size: 17px;      
            color: #767e9e;
        }
        .discription{
            margin-left: 80px;
        }
        .container img{
            position: absolute;
            height: 60px;
            width: 60px;
            top: 0;
        }
        .slider{
            display: flex;
            height: 594px;
            background-color: #f06c64;
            border-bottom: 6px solid #ea676b;
            display: grid;
            grid-template-columns: 100px auto 100px;
        }
        .arrow{
            background-image: url(assets/chev.svg);
            width:16px;
            height: 27px;
            position:absolute;
            left: 44px;
            top: 281px;
        }
        .mirror{
            transform: scaleX(-1);
        }
        .slide, .block-arrow{
            transition: all .9s ease;
            position: relative;
        }
        .phone{
            position: absolute;
        }
        .ver{
            left: 10px;
            top: -17px;
        }
        .hor{
            right: -20px;
            top: 69px;
        }
        .block-arrow:hover{
            cursor: pointer;
            background-color: #ea676b;
        }