@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
*{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}
body, html{
    scroll-behavior: smooth;
}

p{        
    text-align: justify;
}

html{
    font-size: 10px;
}
body{
    font-size: 1.6rem;  
    text-align: justify;
}
main{
    width: 1020px;
    margin: auto;
}
.wrapper{
    width: 92.5%;
    margin: auto;
}

.menu{
    display: none;
    background-color: #2d303a;
    position: fixed;
    width: 278px;
    top:0;
    bottom: 0;
    height: 100%;
    z-index: 20;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}

.menu .nav2{
    padding: 235px 0 0 45px;
}
.menu li{
    padding-bottom: 25px;
}

ul.nav2 li::before{
    content: "";
}
.menu.active{
    display: block;
}

header{
    position: sticky;
    top: 0;
    z-index: 10;
    text-transform: uppercase;
    color: white;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

header img{
    position: absolute;
    top: 25px;
    Left: 22px;
    z-index: 30;
    display: none;
}

.header-content{
    padding: 30px 0 29px 0;
}
h1{
    font-weight: normal;
    font-size: 2.5rem;
}
header ul.nav1{
    padding-top: 10px;
    font-weight: 700px;
    font-size: 1.2rem;
    display: flex;
    text-transform: uppercase;
}
header span{
    color: #f06c64;
}
header li{
    list-style: none;
    cursor: pointer;
}
header li a.active{
    color: #f06c64;
}
header li::before{
    margin-right: 13px;
    margin-left: 13px;
    text-transform: uppercase;
    content: "\2219";
    font-weight: 700;
    font-size: 1.2rem;
    color: gray;
}
header li:first-child::before{
    content: "";
}


.slider{
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    display: grid;
    grid-template-columns: 100px auto 100px;
}

.slider.active{
    background-color: #648bf0;
}

img.buttom{
    position: absolute;
    z-index: 2;
    height: 43px;
    width: 43px;
    border-radius: 100%;
    opacity: 0;
}
img.buttom-2{
    top: 260px;
    left: 332px;
}

img.buttom-1{
    top: 460px;
    left: 97px;
}
img.buttom:hover{
    cursor: pointer;
}
.arrow{
    width:16px;
    height: 27px;
    position:absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.arrow-left{
    background-image: url(assets/arrow-left.svg);
}
.arrow-right{
    background-image: url(assets/arrow-right.svg);
}

.phons{
    margin:auto;
}

.slide{
    position: relative;
    display: none;
}
.slide.active{
    display: block;
}
.block-arrow{
    position: relative;
}

.hor-phone-off{
    transform: rotate(100grad);
    position: absolute;     
    left: 458px;
    top: 127px;
}
.phone-on{
    display: none;
}
.ver-phone-off{
    position: absolute;     
    left: 26px;
    top: 118px;
}
.ver{
    padding: 6.2% 0 6.4% 10px;
}
.hor{
    padding: 0 0 20% 8%
}
.block-arrow:hover{
    cursor: pointer;
}

.slide2{
    padding: 43px 0 38px 150px;
}
.servises .container{
    margin: 0 auto;
    padding: 30px 0 74px 0;
    display: grid;
    grid-template-rows: 95px 95px;
    grid-template-columns: repeat(3, 300px);
    grid-column-gap: 20px;
    grid-row-gap: 28px;
}
.flex{
    display: flex;
}
.servises{
    background-color: #f2f2f2;
    color: #666d89;
    line-height: 30px;  
    border-bottom: 6px solid white;
}
h3{       
    line-height: 18px;
}

.servises h2{
    padding-top: 70px;
}

.servises p{
    padding-top: 25px;
    font-size: 17px;      
    color: #767e9e;
}

h2{
    letter-spacing: 1px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
}
.servises .flex p{
    padding-top: 10px;;
    line-height: 22px;
    font-size: 12px;
}
.discription{
    overflow: hidden;
    height: 90px;
    padding-top: 18px;
    padding-left: 18px;
}

.portfolio{
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}
.about h2{
    letter-spacing: 0px;
    font-weight: 900;
    padding-top: 71px;
}
.portfolio h2{
    padding-top: 70px;
}
.portfolio p{
    padding-top: 25px;
    font-weight: 100;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
}

.portfolio ul{
    margin-top: 10px;
    margin-left: 1px;
    display: flex;
}
.portfolio li{
    cursor: pointer;
    list-style: none;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    border: 1px solid #767e9e;
    margin-right: 10px;
    padding: 0 6.7px;
    border-radius: 4px;
    transition: all .4s ease;
}
.portfolio li.active{
    color: white;
    border: 1px solid white;;
}
.about{
    background-color: #f2f2f2;
    border-bottom: 6px solid white;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(4, 220px);
    grid-template-rows: repeat(3, 187px);
    grid-gap: 20px;
    padding: 19px 0 66px 0;
}

.gallery img{
    cursor: pointer;
    height: 100%;
    width: 100%;
}
.gallery img:nth-child(13+n){
    display: none;
}

.gallery img.active{
    box-shadow: 0 0 0 5px #F06C64;
}


.about figure > img{
    height: 300px;
    width: 300px;
}
.about .container{
    padding: 43px 0 67px 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 20px;
    overflow: hidden;
}
.about h3{
    width: 100%;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    overflow: hidden;
    letter-spacing: 0.2px;
    padding-top: 13px;
}

.about p{
    padding-top: 28px;
    font-weight: 100;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
}

.about .container p{
    padding-top: 5px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
}

.contacts{
    display: flex;
    margin-top: 21px;
}

.contacts > img{
    margin-right: 6px;
    flex-shrink: 0;
    border-radius: 50%;
    transition: all .4s ease;
}
.contacts > img:last-child{
    margin-right: 0;
}
.contacts > img:hover{
transform: scale(1.3);
cursor: pointer;
}
.quote{
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}
.quote p{
    padding-top: 27px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}
.quote h2{
    color: #f0d8d9;
    font-size: 30px;
    line-height: 18px;
    padding-top: 70px;  
}
footer{
    background-color: #2d303a;
    height: 76px;
}

.quote .container{
    padding-top: 42px;
    display: grid;
    grid-template-columns: 619px auto;
    grid-gap: 21px;
}

.quote h3{
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    padding-top: 1px;
    padding-bottom: 9px;
}

footer .Copyright{
    padding-left: 5px;
    padding-top: 25px;
    color: #666D89;
    font-weight: 900;
    font-size: 12px;
}


.quote  .cont p{
    padding-top: 0;
    font-size: 12px;
    line-height: 22px;
}

.quote .links{
    margin-top: 20px;
}

.quote input, .quote button{
    box-sizing: border-box;
    background-color: #d6564f;
    border: none;
    width: 100%;
    height: 38px;
    margin-bottom: 16px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    padding-left: 15px;
}

.quote button[type="submit"]{
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #886A30;
    padding: 0;
    background-color: #FBC65F;
    margin: auto;
    margin: 10px 0 56px;
    width: 140px;
    cursor: pointer;
}
.quote button[type="submit"]:hover{
    opacity: .9;
}

.quote input:focus, .quote textarea:focus{
    outline: none;
}
input::placeholder, textarea::placeholder{
    
    font-size: 12px;
    color: #f48c8f;
}

.quote textarea{
    box-sizing: border-box;
    color: #f48c8f;
    background-color: #d6564f;
    border: none;
    width: 100%;
    height: 160px;
    padding-left: 15px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 22px;
    padding-top: 7px;
    resize: none;
}

footer img{
    transition: all .4s ease;
}

footer img:hover{
    opacity: .5;
    cursor: pointer;
}

footer img{
    margin-left: 1px;
}

.quote p{
    color: #f0d8d9;
    text-align: justify;
}

.links span{
    text-align: center;
}

.links span{
    display: inline-block;
    width: 13px;
    margin-right: 10px;
}

a{
    text-decoration:none;
    color:#f0d8d9;
}

.modal-window{
    width:50%;
    background-color: silver;
    margin: auto;
    margin-top: 40px;
    border-radius: 5px;
    padding: 5px;
}
.modal-window p{
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
}

.modal-window span{  
    font-weight: bold;
    margin: auto;
    text-transform: uppercase;
}

.modal-window .top{
    height: 30px;
    background-color: silver;
    border-bottom: 2px solid gray;
    padding: 2px 2px;
}
.modal-window input[type="button"]{
    text-align: center;
    background-color: gray;
    width: 50px;
    height: 20px;
    cursor:pointer;
    margin-top: 5px;
}

.modal{
    display: none;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0,0.5);
    width: 100%;
    height: 100%;
    z-index: 9000;
}
.modal.active{
    display: block
}

.column-2-layout{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media(max-width: 1200px){
    main{
        width: 100%;
    }
}
@media(max-width: 1019px){
    .buttom{
        display: none;
    }
    .slide2{
        height: 374px;
    }
    .ver{
        width: 184px;
        height:364px;
    }
    .hor{
        width: 364px;
        height: 186px;
    }
    .slider{
        grid-template-columns: 70px auto 70px;
    }
    .wrapper{
        width: 90%
    }
    .servises h2{
        padding-top: 50px;
    }
    .servises .container{
        padding: 16px 0 84px 0;
        display: grid;
        grid-template-rows: 95px 95px 95px;
        grid-template-columns: repeat(2, 300px);
        grid-column-gap: 56px;
        grid-row-gap: 49px;
    }
    .gallery{
        grid-template-columns: repeat(3, 216px);
        grid-template-rows: repeat(4, 183px);
        grid-gap: 20px;
        padding: 30px 0 66px 0;
    }
    .about h2{
        padding-top: 65px;
    }
    .about h3{
        padding-top: 8px;
    }
    .about .container{
        padding-top: 35px;
    }
    .about figure > img{
        height: 218px;
        width: 218px;
    }
    .about figure{
        width: 218px;
    }
    .about .contacts{
        margin-top: 8px;
    }
    .quote .container{
        padding-top: 22px;
        grid-template-columns: 442px auto;
        grid-gap: 30px;

    }
    .quote input, .quote button{
        margin-bottom: 12px;
        padding-top: 5px;
    }
    .quote input, .quote button, .quote textarea{   
        padding-left: 10px;
    }

    .quote button[type='submit']{
        margin-bottom: 40px;
    }
    .quote h3{
        padding-top: 3px;
        padding-bottom: 0;
    }

    .quote h2{
        padding-top: 63px;
    }
}
/* wwww */
@media(max-width: 767px){
    header{
        height: 65px;
    }
    header img{
        display: block;
    }
    .slide2{
        height:138px;
    }
    .ver{
        width: 88px;
        height:177px;
        padding-bottom: 5%;
    }
    .hor{
        width: 177px;
        height: 88px;
    }
    .slider{
        grid-template-columns: 30px auto 30px;
    }
    .wrapper{
        width: 83%;
    }
    .servises h2{
        padding-top: 35px;
    }
    .servises .container{
        padding: 12px 0 35px 0;
        display: grid;
        grid-template-rows: repeat(6, 95px);
        grid-template-columns: 300px;
        grid-row-gap: 24px;
    }
    .portfolio h2{
        padding-top: 55px;
    }
    .portfolio ul{
        padding-top: 4px;
    }
    .gallery{
        grid-template-columns: repeat(2, 151px);
        grid-template-rows: repeat(4, 128px);
        grid-gap: 13px;
        padding: 25px 0 9px 0;
    }
    .about h2{
        padding-top: 45px;
    }
    .about h3{
        padding-top: 15px;
    }
    .about .container{
        padding: 20px 0 38px 0;
        display: flex;
        flex-direction: column;
    }
    .about figure > img{
        height: 314px;
        width: 314px;
    }
    .about figure{
        width: 314px;
        padding-bottom: 30px;
    }
    .about figure:last-child{
        padding-bottom: 0;
    }
    .about .contacts{
        margin-top: 8px;
    }
    .quote .container{
        padding: 22px 0 0 0;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
    }
    .quote input, .quote button{
        margin-bottom: 12px;
        padding-top: 5px;
    }
    .quote input, .quote button, .quote textarea{   
        padding-left: 10px;
    }

    .quote button[type='submit']{
        margin-bottom: 30px;
        width: 100%;
        height: 50px;
    }
    .quote h3{
        padding-top: 3px;
    }

    .quote h2{
        padding-top: 53px;
    }
    .cont{
        padding-bottom: 32px;
    }
    .Copyright{
        display: none;
    }
    footer .contacts{
        padding-left: 25%;
    }
    header ul.nav1{
        display: none;
    }
    h1{
        position: absolute;
        left: 40%;
        top: 40%;
        font-size: 19.6875px;
        line-height: 24px;
    }
}